[MAIN]

[MESSAGES CONTROL]
disable=
    duplicate-code,
    fixme,
    format,
    invalid-name,
    too-many-public-methods,
    too-few-public-methods,
    # fix later
    arguments-differ,
    attribute-defined-outside-init,
    bad-classmethod-argument,
    chained-comparison,
    consider-merging-isinstance,
    consider-using-dict-items,
    consider-using-generator,
    consider-using-in,
    deprecated-decorator,
    f-string-without-interpolation,
    logging-fstring-interpolation,
    logging-not-lazy,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    missing-timeout,
    no-else-raise,
    no-else-return,
    pointless-string-statement,
    raise-missing-from,
    super-init-not-called,
    too-many-boolean-expressions,
    unspecified-encoding,
    useless-object-inheritance,
    useless-parent-delegation,
