[MAIN]

[MESSAGES CONTROL]
disable=
    invalid-name,
    too-many-public-methods,
    too-few-public-methods,
    duplicate-code,
    fixme,
    # handled by prettier
    format,
    # fix later
    missing-function-docstring,
    missing-module-docstring,
    missing-class-docstring,
    pointless-string-statement,
    deprecated-decorator,
    too-many-boolean-expressions,
    redefined-builtin,
    bad-classmethod-argument,
    logging-fstring-interpolation,
    useless-object-inheritance,
    consider-using-f-string,
    attribute-defined-outside-init,
    f-string-without-interpolation,
    logging-not-lazy,
    consider-using-in,
    function-redefined,
    super-init-not-called,
    missing-timeout,
    unused-import,
    consider-using-generator,
    arguments-differ,
    chained-comparison,
    no-else-raise,
    no-else-return,
    consider-using-dict-items,
    unspecified-encoding,
    raise-missing-from,
    unused-argument,
    useless-parent-delegation,
    consider-merging-isinstance,
